
    body{
      background-color: white;
    }
    html { 
      background-color: white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    #articles{
      width:60%;
      height:700px;
      display:inline-block;
      overflow: auto;
    }
    #notes{
      width:30%;
      float:right;
    }
    textarea, input{
      display:block;
      width:100%;
      background-color: white;
    }
    input{
      height:36px;
      font-size: 24px;
    }
    textarea{
      height:200px;
      font-size: 18px;
    }

    .head {
      background-color: #90a4ae;
      line-height: 50px;
    }
    a {
      color: black;
    }
